
/*font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*common style*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	position: relative;
	background: #F4F5F7;
	margin: 0 auto;
	letter-spacing: 0.01em;
}

/*colors*/
:root{
	--light-green-color: #68EBCA;
	--purple-color: #6258FF;
	--light-blue-color: #3C7EF3;
	--dark-blue-color: #133159;
	--dark-color: #0F2440;
	--red-color: #FF264A;
	--gray-light-color: #F6F7FB;
	--gray-dark-color: #E5E8EF;
	--white-color: #FFFFFF;
	--gray-color: #546376;

}

/*header style*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #133159;
	margin: 0;
}

h1 {
	font-size: 96px;
	line-height: 144px
}

h2 {
	font-size: 60px;
	line-height: 90px
}

h3 {
	font-size: 48px;
	line-height: 72px
}

h4 {
	font-size: 32px;
	line-height: 48px
}

h5 {
	font-size: 24px;
	line-height: 40px
}

h6 {
	font-size: 20px;
	line-height: 36px
}

.subtitle {
	font-size: 16px;
}
#wrapper {
	background: #E5E5E5;
}

input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*Mobile Menu bar*/
.menu-toggle{
  display: none;
}
.menu-toggle .open_bar, .menu-toggle .close_bar {
	color: #fff;
	font-size: 20px;
	font-weight: 900;
	left: 20px;
	position: absolute;
	top: 25px;
	cursor: pointer;
	z-index: 999;
}
.menu-toggle .close_bar{
  display: none;
}
.menu-toggle.closee .open_bar{
  display: none !important;
}
.menu-toggle.closee .close_bar{
  display: block !important;
}
.active-nav {
    left: 0 !important;
}


/*Dashboard*/
.logo {
	margin-bottom: 22px;
	margin-left: 7px;
}

.dashboard {
	height: 1024px;
	width: 258px;
	background: var(--dark-blue-color);
	color: #fff;
	padding: 18px 15px 30px 20px;
	float: left;
	transition: .5s;
}

.menu-items li {
	margin-bottom: 15px;
	border-radius: 10px;
	padding: 12px 0px 12px 15px;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
}

.menu-items li span {
	margin-right: 10px;
	float: left;
}

.menu-items li a {
	color: var(--white-color);
	text-transform: capitalize;
}

.menu-items li:hover{
	background: var(--light-blue-color);
	box-shadow: 0px 30px 12px -20px rgba(15, 36, 64, 0.5);
}
.menu-items li:last-Child:hover {
	background: transparent;
	box-shadow: none;
}

/*Navbar style*/
.navbar-nav {
    width: 100%;
    background: var(--dark-blue-color);
    padding: 20px 0 6px;
    text-align: right;
}

.nav-menu-items {
	display: inline-block;
	text-align: left;
}

.nav-menu-search,
.nav-menu-options,
.nav-menu-user {
	float: left;
}

/*Nav Menu Search*/
.nav-menu-search li {
	position: relative;
}

.nav-menu-search li  span {
	display: inline-block;
}

.nav-menu-search span input[type="search"]:not(.browser-default) {
	background-color: var(--gray-dark-color);
	border: none;
	border-bottom: none;
	border-radius: 10px;
	outline: none;
	height: 40px;
	width: 300px;
	font-size: 16px;
	margin: 0;
	padding: 0 15px;
	box-shadow: inset -4px -4px 2px #FFFFFF, inset 4px 4px 2px rgba(8, 20, 36, 0.1);
}

.nav-menu-search span input::placeholder{
	color: var(--gray-color);
	text-transform: capitalize;
}
.nav-menu-search li span a {
	position: absolute;
	right: 20px;
	top: 20%;
	color: var(--dark-blue-color);
}


/*Nav menu option*/
.nav-menu-options {
	margin: 0 40px 0 37px;
}

.nav-menu-options li {
    display: inline-block;
}

.nav-menu-options li a i {
    color: var(--white-color);
    background: #3C7EF3;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    margin: 0 8px;
}

.nav-menu-options li:first-child a i {
	background: var(--light-green-color);
}

.nav-menu-options li:nth-child(3) a {
	position: relative;
}

.nav-menu-options li:nth-child(3) a::before {
	position: absolute;
	top: 2px;
	left: 27px;
	content: "9";
	background: #f00;
	color: var(--white-color);
	font-size: 6px;
	height: 10px;
	width: 10px;
	line-height: 8px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #fff;
}


/*nav-menu-user*/
.nav-menu-user li {
	display: inline-block;
	margin-right: 8px;
}

.nav-menu-user li span {
	display: block;
	color: var(--white-color)
}

.nav-menu-user li a {
	color: var(--white-color);
	font-size: 14px;
}

.user-title {
	font-size: 18px;
	font-weight: 500;
	color: var(--gray-color);
}

.user-email {
	font-size: 12px;
	color: #E8E8E8;
}

.nav-menu-user {
	margin-right: 25px;
}


/*Container style*/
.container-wrapper {
	padding: 30px;
	width: 1645px;
	float: left;
}

.content-container {
	background: var(--white-color);
	border-radius: 10px; 
}

.content-inner-wrapper {
	padding: 20px;
}

.content-inner-top {
	justify-content: space-between;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--gray-dark-color);
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.content-inner-top h5 {
	display: inline-block;
	color: #333333;
}

.inner-top-menu ul {
	display: inline-block;
}

.inner-top-menu li {
	display: inline-block;
	background: var(--gray-light-color);
	padding: 8px 12px;
	transition: .5s;
}

.inner-top-menu li:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
} 
.inner-top-menu li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.inner-top-menu li a {
	color: var(--gray-color);
	transition: .5s;
}

.inner-top-menu li:hover{
	background: var(--dark-blue-color);
}
.inner-top-menu li:hover a {
	color: var(--white-color);
}

.inner-top-buttons{
	margin-left: 10px;
}

.inner-top-buttons li {
	margin-left: 10px;
}
.inner-top-buttons li {
	background: var(--light-blue-color);
	border-radius: 5px;
}
.inner-top-buttons li a {
	color: var(--white-color);
	text-transform: capitalize;
}
.inner-top-buttons li a i {
	background: var(--white-color);
	color: var(--light-blue-color);
	font-size: 10px;
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
	margin-right: 5px;
}
.inner-top-buttons li:last-child {
	background: transparent;
	margin-left: 5px;
	padding-right: 0;
}
.inner-top-buttons li:last-child a i{
	color: var(--gray-color);
	height: 40px;
	width: 40px;
	line-height: 40px;
	border: 1px solid var(--gray-color);
}

/*content-inner-get*/
.content-inner-get {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--gray-dark-color);
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.content-inner-get ul li{
	display: inline-block;
	margin-right: 15px;
	text-transform: capitalize;
	border-radius: 6px;
	border: 1px solid var(--gray-color);
	background: var(--white-color);
	padding: 7px 20px;
	position: relative;
}
.content-inner-get ul li a {
	color: var(--gray-color);
	width: 100%;
	display: inline-block;
}
.content-inner-get ul li:nth-child(1){
	width: 300px;
}
.content-inner-get ul li:nth-child(2){
	width: 128px;
}
.content-inner-get ul li:nth-child(3){
	width: 72px;
}
.content-inner-get li span i {
	font-size: 14px;
	right: 10px;
	position: absolute;
	top: 34%;
}
.search-btn {
	position: relative;
	border: 1px solid var(--gray-color);
	border-radius: 20px;
}
.search-btn input[type="search"]:not(.browser-default) {
	border: none;
	height: 20px;
	padding: 9px 18px;
	width: 273px;
	margin: 0;
}
.search-btn input::placeholder{
	color: var(--gray-color);
}
.search-btn span i {
	position: absolute;
	right: 15px;
	color: darkblue;
	top: 31%;
	cursor: pointer;
}

/*Content-text*/
.content-text p {
	letter-spacing: 0.01em;
	color: #333333;
	margin-bottom: 30px;
}


/*Grid-wrapper*/
.grid-wrapper {
	background:var(--gray-light-color);
	padding: 20px;
	border-radius: 10px;
}
.grid-top-items {
	background: rgba(60, 126, 243, 0.1);
	border-radius: 10px;
	padding: 6px 0px 15px 20px;
	margin-bottom: 20px;
}
.single-grid-top  {
	position: relative;
}
.grid-content h6 {
	font-size: 16px;
	font-weight: 500;
	color: #333333;
}
.grid-content ul li {
	color: #8896A8;
	letter-spacing: 0.01em;
	display: inline-block;
}
.grid-content ul li:last-child {
	color: var(--dark-blue-color);
	margin-left: 45px;
	position: relative;
}
.grid-content ul li:last-child::before {
	content: "";
	position: absolute;
	left: -30px;
	top: 35%;
	height: 10px;
	width: 10px;
	background: #C4C4C4;
	border-radius: 50%;
}
.grid-top-items .row {
	margin-bottom: 0;
}
.grid-top-items .row .col {
	padding-right: 0;
	padding-left: 18px;
}
.single-grid-top .grid-icon {
	position: absolute;
	right: 20px;
	top: 22%;
}

.single-grid-top .grid-icon a i {
	color: var(--white-color);
	font-size: 16px;
	background: var(--light-blue-color);
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
}

.grid-divider {
	position: absolute;
	right: 0;
	top: -12px;
}


/*Main Grid Style*/
.single-grid-wrapper {
	border: 1px solid #E5E8EF;
	border-radius: 10px;
	margin-right: 7px;
	height: 622px;
	padding: 10px;
	position: relative;
	overflow: hidden;
	overflow-y: auto;
}

.single-grid-wrapper.bg-two{
	background: var(--white-color);
}

.single-grid-wrapper::-webkit-scrollbar{
	width: 10px;
	height: 599px;
	background: rgba(60, 126, 243, 0.1);
	border-radius: 5px;
}
.single-grid-wrapper::-webkit-scrollbar-thumb{
	width: 10px;
	border-radius: 45px;
	background: var(--dark-blue-color);
}

.no-margin {
	margin: 0;
}

.col .row {
	margin-left: 0;
	margin-right: 0;
}

.main-grid-wrapper .row .col {
	padding: 0;
}

.single-grid-wrapper .row {
	margin-bottom: 0;
}

.single-grid-inner {
	background: var(--white-color);
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 14px 18px 18px 18px;
}

.single-grid-inner  .grid-content {
	padding-left: 5px;
}

.grid-content h6 span  {
	color: var(--light-blue-color);
}

.grid-content p {
	color: #8896A8;
	letter-spacing: 0.01em;
	line-height: 24px;
	margin-bottom: 20px;
}

.grid-social-link li {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
}

.grid-social-link li a i {
	color: var(--gray-color);
	height: 30px;
	width: 30px;
	line-height: 28px;
	text-align: center;
	border: 1px solid var(--gray-dark-color);
	border-radius: 50%;
	font-size: 12px;
}

.grid-social-link li:last-child {
	position: relative;
	right: -28px;
}

.grid-social-link li:last-child a i {
    background: var(--dark-blue-color);
    color: var(--white-color);
    border-color: var(--dark-blue-color);
    
}

/*Note*/
.note {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%,-50%);
}

.note p {
	color: #8896A8;
	font-size: 15px;
	text-transform: capitalize;
}

.add-deal {
	margin-top: 20px;
}

.note .add-deal p {
	font-weight: 500;
	color: var(--gray-color);
	text-transform: capitalize;
	display: inline-block;
}

.note .add-deal span i {
	font-size: 12px;
	height: 26px;
	width: 26px;
	line-height: 26px;
	text-align: center;
	background: var(--light-blue-color);
	border-radius: 50%;
	color: var(--white-color);
	margin-right: 10px;
}

/*button-grid*/
.button-grid .row{
	margin-bottom: 0;
}

.button-grid .row .col {
    padding:0 8px;
}

.single-btn {
	text-align: center;
}

.single-btn span {
	margin-right: 12px;
}

.single-btn a {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #FF5858;
    border-radius: 6px;
    display: block;
    padding: 13px;
    text-transform: capitalize;
    color: #FF5858;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.single-btn.btn-win a {
	color: #6FCF97;
	border-color: #6FCF97; 
}

.single-btn.btn-pipeline a {
	color: #FFB053;
	border-color: #FFB053; 
}